* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'montserratbold', Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 700;
  background-color: #ff4e50;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: .2s ease-in;
}

.btn:hover {
  background-color: #fa6769;
}