* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper-img {
  width: 400px;
  height: 200px;
  margin: auto;
  background: url('img/img.jpg') no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wrapper-img {
    background: url('img/img.jpg') no-repeat;
  }
}