@media all and (min-width: 60rem) {

  .partners {
    padding-bottom: 4.375rem;
  }

  .partners-items {
    margin-bottom: 7.5rem;
  }

  .partners-item {
    width: 24%;
  }

  .partners-icon {
    right: 28%;
  }
}