.wrapper {
  width: 1024px;
  margin: auto;
}

.collapse {
  padding: 15px;
  font-size: 36px;
}

.table {
  margin: auto;
  text-align: center;
  font-size: 24px;
  border-collapse: collapse;
}

th {
  background-color: #000;
  color: #fff;
}

td, th {
  padding: 15px;
  border: 2px solid #000;
}

td:first-child {
  text-align: left;
  text-transform: uppercase;
}