.head-list {
  display: flex;
  justify-content: space-between;
}

.head-item {
  margin-left: 40px;
}

.head-item:first-child {
  margin-left: 0;
}

.head-link {
  color: #222;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .2s ease-in;
}

.head-link:hover {
  color: #fed136;
}