@media all and (min-width: 940px) {

  .wrapper {
    width: 940px;
  }

  .promo {
    padding-top: 40px;
    padding-bottom: 240px;
    background-image: url(../../img/desktop/promo_desktop.jpg);
  }

  .promo-logo {
    padding-left: 15px;
  }

  .promo-subtitle {
    margin-bottom: 30px;
  }
}