.service {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}
.service__text,
.service__title {
  color: #333;
  text-align: center;
}

.service__text {
  margin-bottom: 1.25rem;
  font-family: 'kaushan_scriptregular';
  font-size: 1.5rem;
}

.service__title {
  margin-bottom: 6rem;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.service__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__part {
  flex-basis: 30%;
  display: flex;
  margin-bottom: 6.25rem;
}

.service__part:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service__icon {
  flex-basis: 5rem;
  max-height: 2rem;
  margin-right: 1.875rem;
  background-image: url('../img/service_icon.png');
}

.service__one {
  background-position: -10px -62px;
}

.service__two {
  background-position: -114px -62px;
}

.service__three {
  background-position: -114px -10px;
}

.service__four {
  background-position: -62px -10px;
}

.service__five {
  background-position: -10px -10px;
}

.service__six {
  background-position: -62px -62px;
}

.service__caption {
  margin-bottom: 1rem;
  color: #333;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.service__paragraph {
  color: #999;
  font-size: 0.9375rem;
  font-family: 'montserratbold';
}